<div class="container">
  <div class="card-product">
    <img src=<%= cl_image_path @costume.photo.key %> />
    <div class="card-product-infos">
      <h2><%= @costume.name %></h2>
      <p class="card-product-category"><strong><%= @costume.category %></strong></p>
      <p class="card-product-size"><%= @costume.size %> cm</p>
      <p class="card-product-price"><%= @costume.price_per_day %> €</p>
      <%= link_to "Delete", costume_path(@costume), method: :delete, data: { confirm: "Are you sure you want to delete this Costume?"}, class: "btn btn-secondary" %>
      <%= link_to "Edit 'Stume", edit_costume_path(@costume), class:"btn btn-info" %>
      <p class="tick"><% if @costume.available? %>
          <%= "✅" %>
          <% else %>
          <%= "❌" %>
          <% end %>
      </p>
    </div>
  </div>
</div>


<div class="form-container">
  <div class="container">
      <%= simple_form_for [ @costume, @booking ] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Book stume", data: { confirm: "Are you sure you want to book this Costume?"},  class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
